body{
	background-color: #eeeeee;
}


body .container{
	border:#cccccc 1px solid;
	background-color: white;
	padding:20px 80px;
}

.form-control{
	border-radius: 0;
}

.input-group-addon{
	border-radius:0;
}

.btn{
	border-radius: 0;
}